<!-- app/templates/profile.html -->
{% extends "base.html" %}

{% block content %}
    <!-- Welcome message -->
    <div class="container mt-4">
        <h2>Welcome, {{ user.username }}</h2>
    </div>

    <!-- Admin-specific content -->
    {% if user.isAdmin %}
    <div class="container mt-4">
        <h3>Add Category</h3>
        <form method="POST">
            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName">
            </div>
            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <select class="form-select" id="subject" name="subject">
                    <option value="Mathematics">Mathematics</option>
                    <option value="Computer Science">Computer Science</option>
                </select>
            </div>
            <button type="submit" class="green-button">Submit</button>
        </form>
    </div>
    {% endif %}


<!-- User-specific content -->
    <div class="container mt-4">
        <h3>Update Profile</h3>
        <form method="POST">
            <div class="mb-3">
                <label for="newUsername" class="form-label">New Username</label>
                <input type="text" class="form-control" id="newUsername" name="newUsername">
            </div>
            <button type="submit" class="green-button">Update Username</button>
        </form>

        <form method="POST">
            <div class="mb-3">
                <label for="newEmail" class="form-label">New Email</label>
                <input type="email" class="form-control" id="newEmail" name="newEmail">
            </div>
            <button type="submit" class="green-button">Update Email</button>
        </form>

        <form method="POST">
            <div class="mb-3">
                <label for="currentPassword" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword">
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
            <button type="submit" class="green-button">Update Password</button>
        </form>
    </div>



{% endblock %}
